TEMPLATES_URL="https://api.retool.com/v1/workflows/2aa39fb4-5db1-4bf8-b477-32b0f743966a/startTrigger?workflowApiKey=retool_wk_xxx"
IMAGE_URL="https://api.retool.com/v1/workflows/e0fa2c9a-8fb4-4e3f-8783-1c956ea10475/startTrigger?workflowApiKey=retool_wk_xxx"